.container {
    max-width: 70rem;
    position: relative;
    gap: 3rem;

    @media screen and(min-width: 768px) {
        gap: 0;
    }

    @media screen and(min-width: 992px) {
        flex-wrap: nowrap;
        gap: 3rem;
    }

    @media screen and(min-width: 1100px) {
        gap: 4rem;
    }
}

.buttonsCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.imageCol {
    background-color: #151515;
    border: 1px solid #454545;
    text-align: center;
    margin: auto;
    max-width: 40rem;
    z-index: 1000;

    &BaseImage {
        cursor: pointer;
        max-height: 30rem;
        max-width: 100%;
        transition: opacity .4s;

        &:hover {
            opacity: 0.8;
        }
    }
}