.logoutButton {
    border: none;
    background: linear-gradient(145deg, #212121, #282828);
    border-radius: .5rem;
    box-shadow: 18px 18px 30px #161616,
        -18px -18px 30px #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: .7rem 1.5rem;

    svg {
        font-size: 1rem;
    }
}