.container {
    min-height: 100vh;
    padding: 3rem 0;
}

.content {
    border-radius: 10px;
    background: #252525;
    box-shadow: 18px 18px 30px #161616,
        -18px -18px 30px #343434;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto;
    max-width: 550px;
    padding: 4rem 1rem;

    @media (max-width: 580px) {
        background: transparent;
        box-shadow: none;
    }

    &Logo {
        opacity: 0;
        transition: all .7s;

        &Loaded {
            opacity: 1;
        }
    }

    &Title {
        color: #fff;
        text-align: center;
        margin-bottom: 2rem;
        width: 100%;
    }

    &LoginAlt {
        color: #fff;
        margin-top: 3rem;

        a {
            color: #08e6bd;
            transition: all .5s;

            &:hover {
                color: #0AF9CF;
            }
        }
    }
}